<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="/static/home.js" defer></script>
    <title>BGG | Home</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cf.geekdo-static.com/icons/favicon2.ico"
    />
  </head>
  <body>
    <img src=
    https://user-images.githubusercontent.com/14614633/154339148-fdd2fcdc-41d6-49d6-b7d0-8a2c2d3a48b7.jpg
    alt="BGG Image" height="100" width="300"/>
    <hr />
    <h1>BGG Companion</h1>
    <div id="page-visit-counter">
      <p id="page-visits"></p>
    </div>
    <nav>
      <table>
        <tbody>
          <tr>
            <td><a href="./home">Random Game</a></td>
            <td>|</td>
            <td><a href="./collection">View Collection</a></td>
            <td>|</td>
            <td><a href="./leaderboards">Leaderboards</a></td>
          </tr>
        </tbody>
      </table>
    </nav>
    <div id="random-game-request">
      <h2>Random Game</h2>
      <label for="user"
        >Enter a
        <a href="https://boardgamegeek.com/" target="_blank">BoardGameGeek</a>
        user to choose a random game from their collection</label
      >
      <input type="text" name="user" id="user" required />
      <br />
      <br />
      <details>
        <summary>
          Advanced Randomizer
          <span class="icon">👇</span>
        </summary>
        <table border="1">
          <tr>
            <td><b># of Players Range</b></td>
            <td>
              <label for="number-of-players-min"></label>
              <select id="number-of-players-min" name="minplayers" size="1">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
              to
              <label for="number-of-players-max"></label>
              <select id="number-of-players-max" name="maxplayers" size="1">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </td>
            <td>
              <input
                id="normal-range-players"
                type="radio"
                name="playerrangetype"
                value="normal"
                checked
              />
              <label for="normal-range-players"
                >Normal (include all games for this range)</label
              >
              <br />
              <br />
              <input
                id="exact-range-players"
                type="radio"
                name="playerrangetype"
                value="exact"
              />
              <label for="exact-range-players"
                >Exact (include games that only support exactly this
                range)</label
              >
            </td>
          </tr>
        </table>
      </details>
      <br />
      <input type="submit" value="Submit" id="submit" />
    </div>
    <div id="random-game-response">
      <p id="game-name"></p>
      <img id="game-thumbnail" src="" />
      <p id="game-error"></p>
    </div>
  </body>
</html>
